<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Space</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>
      <a href="/index"><i class="fa fa-home"></i>Home</a>
      <br>
      <a href="/book_space"><i class="fa fa-bars"></i>All listings</a>
    </div>
    <br />
    <div>
      <h1>Booking confirmed</h1>
      <p>Booking ID: {{ request_to_use.id}}</p>
      <p>Space_id: {{ request_to_use.space_id }}</p>
      <p>Selected Dates: {{ request_to_use.date_to_book }}</p>
      <p>User_id: {{ request_to_use.user_id }}</p>
      <p>Request confirmed: {{ request_to_use.request_status }}</p>
    </div>
    
    <br>{% if g.logged_in_as %}
    <h3>{{  g.logged_in_as  }}
      <br>
    <a href="/logout">Log out</a></h3>
    {% else %}<h3>Not logged in
      <br>
        <a href="/login">Log in here</a></h3>
    {% endif %}
  </body>
</html>
