<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book A Space</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>
      <a href="/index">Take Me Home!</a>
    </div>
    <h1>Spaces listed below</h1>
    <p>{{user_logged_in}}</p>
    {% for space in spaces %}
    <div>
      <a href="/spaces/{{space.id}}"><p>Name: {{ space.name }}</p></a>
      <p>Description: {{ space.description }}</p>
      <p>Price: {{ space.price }}</p>
      <p>Availability: {{ space.availability }}</p>
      <br />
    </div>
    {% endfor %}
    <a href="/spaces/new_space">Add New Listing</a>
    <a href="/spaces/2/my_requests">See my requests received and sent!</a>
  </body>
</html>
