<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Space</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>
      <a href="/index"><i class="fa fa-home"></i>Home</a>
      <br>
      <a href="/book_space"><i class="fa fa-bars"></i>All listings</a>
    </div>
    <br />
    <div>
      <p>Name: {{request.space_id}}</p>
      <p>Selected Dates: {{ request.date_to_book }}</p>
      <p>User_id: {{ request.user_id }}</p>
      <p>Space_id: {{ request.space_id }}</p>
    </div>
    <div>
      <form
        action="/spaces/{{  request.space_id  }}/send_booking_request/ {{ request.date_to_book }}/confirm/{{  request.id  }}"
        method="post"
      >
        <input type="submit" value="confirm your booking" />
      </form>
      <form action="/cancel" method="post">
        <input type="submit" value="cancel your booking" />
      </form>
    </div>
    
    <br>{% if g.logged_in_as %}
    <h3>{{  g.logged_in_as  }}</h3>
    <a href="/logout">Log out</a>
    {% else %}<h3>Not logged in</h3>
        <a href="/login">Log in here</a><br>
    {% endif %}
  </body>
</html>
