<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Spaces List </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div class="topnav">
            <h1 href="#home">Makers</h1>
            <div>
                <a  href="/bookings">Bookings</a>
            </div>
        </div>
        <h2> Spaces </h2>
        <a href="/spaces/new" class="regform"> Add A Space</a>

        <div class="spaceboxcontainer">
            {% for space in spaces %}
                <div>
                    <a href="/spaces/{{space.id}}" class="spacebox">{{ space.name }}</a>
                </div>
            {% endfor %}
        </div>    
    </body>
</html>
