<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MakersBnB</title>


        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>
            Listings
        </h1>
        <h2>hello</h2>
        {% for space in spaces %}
        <ul>
            <li>
                Name: {{space.name}}
                <p>Price per night: {{space.price}}</p>
                <p>Description: {{space.description}}</p>
            </li>
        </ul>    
        {% endfor %}
    </body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
      <h1>Albums</h1>

    {% for album in albums %}
      <div>
        Title: {{album.title}}
        Released: {{album.release_year}}
      </div>
    {% endfor %}
  </body>
</html> -->


