
<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      div {
        border: 2px solid rgb(15, 2, 2);
        padding: 10px;
      }
      </style>
    <link rel="stylesheet" href="/static/style.css" />
    <title>Space</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>

      <a href="/index"><i class="fa fa-home"></i>Home</a>
      <br>
      <a href="/book_space"><i class="fa fa-bars"></i>All listings</a>
    </div>
    <div>
        <h1>Requests Received</h1>
        <br />
        {% for request in requests %}
        <p>id: {{ request.id }}</p>
        <p>date_chosen: {{ request.date_to_book }}</p>
        <p>bookng status: {{ request.request_status}}</p>
        <form action="/spaces/{{  request.space_id  }}/send_booking_request/{{  request.date_to_book  }}/confirm/{{  request.id  }}" method="post">
        <input type="submit" value="confirm booking" />
        </form>
        <form action="/spaces/{{  request.space_id  }}/send_booking_request/{{  request.date_to_book  }}/decline/{{  request.id  }}" method="post">
        <input type="submit" value="cancel your booking" />
      </form>

        {% endfor %}
      </div>
      <div>
        <h1>Requests Sent</h1>

        {% for request in request_made %}
        <p>id: {{ request.id }}</p>
        <p>date_chosen: {{ request.date_to_book }}</p>
        <p>bookng status: {{ request.request_status}}</p>
        {% endfor %}

        <br />
      </div>
    </div>
    
    <br>{% if g.logged_in_as %}
    <h3>{{  g.logged_in_as  }}</h3>
    <a href="/logout">Log out</a>
    {% else %}<h3>Not logged in</h3>
        <a href="/login">Log in here</a><br>
    {% endif %}
  </body>
</html>
  