
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div>
      <a href="/index"><i class="fa fa-home"></i>Home</a>
      <br>
      <a href="/book_space"><i class="fa fa-bars"></i>All listings</a>
    </div>
    <title>Space</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div>

      {% if g.user_id|string() == user_id|string() %}
    
        <h1>Requests Received</h1>
        {% for request in requests %}
        <table>
        <tr>
        <th>id: {{ request.id }}</th>
        </tr>
        <th>date_chosen: {{ request.date_to_book }}</th>
        <tr>
        <th>booking status: {{ request.request_status}}</th>
        </tr>
        </table>
        <h2><form action="/spaces/{{  request.space_id  }}/send_booking_request/{{  request.date_to_book  }}/confirm/{{  request.id  }}" method="post">
        <input type="submit" value="confirm booking" />
        </form>
        <form action="/spaces/{{  request.space_id  }}/send_booking_request/{{  request.date_to_book  }}/decline/{{  request.id  }}" method="post">
        <input type="submit" value="cancel your booking" />
        </form></h2>
        <br>
        {% endfor %}
      </div>
      <br>
      <div>
        <h1>Requests Sent</h1>

        {% for request in request_made %}
        <table>
        <tr>
        <th>id: {{ request.id }}</th>
        </tr>
        <th>date_chosen: {{ request.date_to_book }}</th>
        <tr>
        <th>bookng status: {{ request.request_status}}</th>
        </tr>
        </table>
        <br>
        {% endfor %}
      {% else %}
        <p>Access denied!</p>
      {% endif %}
      </div>
    </div>
    
    <br>
    {% if g.logged_in_as %}
    <h3>{{  g.logged_in_as  }}</h3>
    <h3><a href="/logout">Log out</a></h3>
    {% else %}<h3>Not logged in</h3>
        <h3><a href="/login">Log in here</a><br></h3>
    {% endif %}
  </body>
</html>
  
