<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <h1>List a Space</h1>
    <h2> ----- </h2>
    <form class="listSpaceForm" action="/create_space" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description"><br><br>
       
        <label for="pricePerNight">Price per night (£):</label>
        <input type="text" id="pricePerNight" name="pricePerNight"><br><br>
       
        <label for="availableFrom">Available From</label>
        <input type="date" name="availableFrom" id="availableFrom"><br><br>

        <label for="availableTo">Available To</label>
        <input type="date" name="availableTo" id="availableTo"><br><br>

        <input type="submit" value="List my Space">
    </form>
    
</body>
</html>