<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create New Space</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="topnav">
            <h1 href="#home">Makers</h1>  
        </div>
        <h2>Create New Space</h2>
        <form action="/spaces" method="post">


            {% if errors %}
                <p class="t-errors">
                    There were errors with your submission: {{errors}}
                </p>
            {% endif %}

            <div class="spaceinputs">
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
                <br>
                <label for="description">Description</label>
                <textarea type="text" name="description" id="description" rows="10"></textarea>
            </div>
            <div class="description">
                <label for="price">Price per night:</label>
                <br>
                <span class="currencyinput">£<input type="float" name="price" id="price"></span>
            </div>
            <div class="description">
                <label for="start_date">Available from:</label>
                <br>
                <input type="date" name="start_date" id="start_date">
            </div>
            <div class="description">
                <label for="end_date">Available until:</label>
                <br>
                <input type="date" name="end_date" id="end_date">
            </div>
            <div class="description">
                <button type="submit">Create Space</button>
            </div>
        </form>
    </body>
</html>