<!DOCTYPE html>
<html lang="en">
    <head>
        <title>The Space</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div class="topnav">
            <h1 href="#home">Makers</h1>  
        </div>
        <h2>Space: {{space.name}}</h2>
        <p class="description">
            Description: {{space.description}}
        </p>
        <p class="description">
            Price per night: £{{space.price}}
        </p>
        <h3>Available dates: </h3>
        <form method="POST">
            <ul class="description">
            {% for date in space.dates %}
                <div>
                    <label>
                        {{date.date}}
                        <input type="checkbox" name="selected_date" value="{{date.id}}">
                    </label>
                </div>
            {% endfor %}   
            </ul>
            <div class="description">
            <button type="submit">Request to book</button>
            </div>
        </form>
        <p class="description">
            <a href="/spaces">Go back to Spaces list</a>
        </p>
    </body>
</html>