
{% extends "layout.html" %}

{% block body %}

<body>
    <h1>{{space.name}}</h1>
    <h2 class="centeredText">Listed by {{host_username}}</h2>
    <p>{{guest_username}} has made a booking request for {{booking.date}}.</p>
    <br />
    {% if space.host_id == current_user_id %}
        {% if booking.confirmed == True %}
        <p>You have confirmed this booking!</p>
        {% elif booking.confirmed == False %}
        <p>You have rejected this booking!</p>
        {% else %}
        <div class="buttonStyling">
            <form class="approveDeny" class='centeredText' method="post" action="/bookings/confirm">
                <input type="hidden" name="booking_id" value="{{booking.id}}">
                <input type="submit" class="button" value="Confirm">
            </form>
            <form class="approveDeny" class="centeredText" method="post" action="/bookings/reject">
                <input type="hidden" name="booking_id" value="{{booking.id}}">
                <input type="submit" class="button" value="Reject">
            </form>
        </div>
        {% endif %}
    {% else %}
        {% if booking.confirmed == True %}
        <p>This booking has been approved!</p>
        {% elif booking.confirmed == False %}
        <p>This booking has been rejected.</p>
        {% else %}
        <p>This booking is still awaiting a response.</p>
        {% endif %}
    {% endif %}
</body>

{% endblock %}