<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <h1>Arrange Your Stay</h1>
    <p>{{space.name}}</p>
    <form class="createBookingForm" action="/goto_booking" method="post">
        <label for="guest_id">Your ID:</label>
        <input type="text" id="guest_id" name="guest_id">
        <br />
        <label for="pickadate">Pick a date</label>
        <input type="date" name="pickadate" id="pickadate" /><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>