<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Team 1's Makersbnb App (Best App Awards Winner 2023)
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="/" target="_blank">Home</a>
    <a href="/spaces" target="_blank">Spaces</a>
    <a href="/add_space" target="_blank">Add a space</a>
    <a href="/add_available_date" target="_blank">Add open dates for your space</a>
    Logged in = false
  </div>
</div>