@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    width: 70%;
    margin: 3rem auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 4rem;
    border-radius: 50%;
}

header .links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* sign up page */
.signup_blurb, .spaces_blurb, .new_spaces_blurb, .requests_blurb {
    margin-top: 2rem;
    text-align: center;
}

.signup_blurb h2, .requests_blurb h2 {
    margin-bottom: 1rem;
}

.signup_section, .login_section, .new_space_section {
    margin: 3rem auto 0 auto;
    width: 70%;
}

.signup_section p, .login_section h2, .new_space_section h2, .spaces_page h2 {
    text-align: center;
}

.signup_form, .login_form, .new_space_form, .space_cards {
    margin-top: 1rem;
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.signup_form input, .login_form input, .new_space_form input {
    padding: 0.4rem;
}

.signup_form button, .login_form button, .new_space_form button {
    margin-top: 1rem;
    padding: 0.4rem;
    cursor: pointer;
    font-size: 1rem;
}

.signup_section a {
    display: block;
    text-align: center;
    margin-top: 2rem;
}

/* spaces page */
.spaces_page a {
    text-decoration: none;
    color: inherit;
}

.spaces_page button {
    font-size: 1rem;
}

.spaces_blurb button {
    margin-top: 1rem;
}

.filter {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter div {
    display: flex;
    flex-direction: column;
}

.space_card {
    border: 1px solid black;
    padding: 0.3rem;
}

/* space page */
.space_page {
    margin-top: 2rem;
}

.space_page form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20%;
}

.space_page form input, .space_page form button {
    padding: 0.3rem;
}

/* new space page */
.new_spaces_form {
    width: 70%;
    margin: 1rem auto 0 auto;
    border: 1px solid purple;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.new_spaces_form input {
    padding: 0.4rem;
}

.new_spaces_form button {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}

/* requests page */
.requests_boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.requests_made, .requests_received {
    margin-top: 1rem;
    border: 1px solid purple;
    padding: 1rem;
}

.button-container {
    display: flex;
}

.accept-button, .decline-button {
    margin-right: 10px; 
}


/* homepage - jonapxr */
/* .hero-image {
    background-image: url(https://www.abercrombiekent.com/-/media/ak/media-for-prod/product-lines-and-travel-interests/mastheads/europe-ak-villas-palazzo-bolbe-mh.jpg?h=660&w=1920&la=en&hash=E3149B4764570A269A8BA2DAB5BA130D);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center;
    position: relative;
    height: 50%;
    align-items: center; 

} */
.hero-text{
    color: white;
    text-align: center;
    justify-content: center;
    

}
.property-grid {
display: grid;
grid-template-columns: repeat(2, 1fr); /* Two columns per row */
gap: 20px; /* Gap between cards */
}

.property-card {
border: 1px solid #ccc;
border-radius: 5px;
padding: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
background-color: #fff;
}

.property-card h3 {
font-size: 18px;
margin: 0;
}

.property-card p {
font-size: 14px;
color: #666;
}