* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 18px;
}

.centered-title {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.centered-title p {
    width: 50%;
    margin: auto;
    text-align: left;
    font-style: italic;
}

.header {
    top: 8px;
    position: sticky;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 30px;
    border: 3px solid white;
    border-radius: 5px;
}

.header-right {
    float: right;
}

.header-right a:hover {
    color: rgb(15, 216, 139);
}

.list-space-button {
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.list-space-button a {
    float: left;
    background-color: rgb(15, 216, 139);
    border: 2px solid rgb(15, 216, 139);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

/* NOT WORKING */
/* .list-space-button {
    float: left;
    background-color: rgb(15, 216, 139);
    border: 2px solid rgb(15, 216, 139);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
} */

.list-space-button a:hover {
    background-color: white;
    color: black;
}

.spaces-container {
    width: 85%;
    margin: auto;
    padding: 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.space-button {
    width: 100%;
    padding: 10px;
    border-style: solid;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: white;
    font-size: 110%;
}

.space-button:hover {
    background-color: rgb(15, 216, 139);
    color: white;
}

.spaces-search-form {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 10px;
}

.spaces-search-form input {
    margin-left: 8px;
    margin-right: 22px;
}

.spaces-search-form #search-button {
    width: 90px;
    color: white;
    background-color: rgb(15, 216, 139);
    border: 2px solid rgb(15, 216, 139);
    border-radius: 5px;
}

.spaces-search-form #search-button:hover {
    color: black;
    background-color: white;
    border: 2px solid rgb(15, 216, 139);
    border-radius: 5px;
}


.input-section div {
    padding: 20px 0px;
}

.label-above {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}   

.label-above label {
    padding-bottom: 8px;
}

.label-above input {
    height: 25px;
}

.label-above textarea {
    height: 200px;
    max-height: 600px;
    min-height: 200px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.list-my-space-button {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px 50px;
    color: white;
    background-color: rgb(15, 216, 139);
    border: 2px solid rgb(15, 216, 139);
    border-radius: 5px;
}

.list-my-space-button:hover {
    color: black;
    background-color: white;
    border: 2px solid rgb(15, 216, 139);
}

/* NIAMH */
.space-name{
    font-weight: bold;
}

.date {
    padding: 10px;
}

