body {
    font-size: 18px;
}

#div1Requests {
    max-width: 45%;
    float: left;
    padding-left: 5%;
}

#div2Requests {
    max-width: 45%;
    float: right;
    padding-right: 5%;
}

#MainDivrequests {
    padding-top: 100px;
    max-width: 90%;
}

#mainDivHomepage {
    max-width: 95%;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
    display: flex;
}

#rowHomepage {
    width:33%;
    text-align: center;
}

