<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div><a name="home" href="/">Home</a></div>
        <div><a name="signout" href="/signout">Sign Out</a></div>
        <h1>Makers B&B</h1>
        <h2>Welcome {{user_name}}!</h2>
        <div>
            <button type="button" onclick="window.location.href = '/list_space';">List a space</button>
            <button type="button" href="/book_space">Book a space</button>
        </div>
        <br>
        <h3> Your Listed Spaces</h3>
        <div>
            <table >
                <thead>
                    <tr>
                        <th>Listing Name</th>
                        <th>Description</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                {% for listing in listings %}
                    <tr>
                        <td>{{listing.name}}</td>
                        <td>{{listing.description}}</td>
                        <td>{{listing.cost}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>   
        </div>
    </body>
</html>
