<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Account Managment</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    {% if login_status=='login' %}
    <h1 id="title">Please&nbsp;Login</h1>
    <form action="/user/login" method="POST" id="login">
      Email address:<input type="text" name="email_address" id="login"><br>
      Password:<input type="text" name="passcode" id="login"><br>
      <input type="submit" value="Submit" id="login" />
    </form>
    {% elif login_status=='register' %}
    <h1 id="title">Register</h1>
    <form action="/user/register" method="POST">
      <label for="notsure">Register</label>
        Full Name:<input type="text" name="name" id="notsure">
        email address: <input type="text" name="username" id="notsure">
        Password:<input type="text" name="passcode" id="notsure">
      <input type="submit" value="Submit" />
    </form>
    {% else %}
    <p>ERROR HERE</p>
    {% endif %}
    <a href="/">cancel</a>
  </body>
</html>

