<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <div><a name="home" href="/">Home</a></div>
        <div><a name="signout" href="/signout">Sign Out</a></div>
        <h1>Makers B&B</h1>
        <h2>Welcome to MakersB&B</h2>
        <div>
            <button type="button" onclick="window.location.href = '/list_space';">List a space</button>
            <button type="button" href="/book_space">Book a space</button>
        </div>
        <div>
            <!-- Insert spaces table here -->
            {% for item in items %}
            <TR>
                <TD class="c1"><IMG src="favicon.ico"></TD>
                <TD class="c2">{{date}}</TD>
                <TD class="c3">{{id}}</TD>
                <TD class="c4"><SPAN>{{position}}</SPAN></TD>
                <TD class="c5"><SPAN>{{status}}</SPAN></TD>
            </TR>
            {% endfor %}
        </div>
    </body>
</html>
