<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Your Space</title>
</head>
<body>
    <H1> MakersBNB</H1>
    <form action = "/add-a-space" "POST">
        {% if error %}
        <p>
            Submission unsucessful due to following errors: {{errors}}
        </p>
        {% endif %}

        <p> 
            <label for "name"> Space Name </label>
            <input type = "text" name = "name" id = "name">
        </p>
        <p>
            <label for "description"> Description</label>
            <input type = "text" name = "description" id = "description">
        </p>
        <p>
            <label for "price"> Price Per Night</label>
            <input type = "number" name = "price" id = "price">
        </p>
        <p>
        <input type = "submit" value = "List your property">
        </p>
    </form>
    <a href="/index" class="return-to-homepage"> Return to homepage</a>
</body>
</html>