<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Makers BnB: Pending Requests</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <p>
            <h1>Viewing {{user.name}}'s pending Requests:</h1>
            <!--  [TO IMPLEMENT - IF REQUEST LIST IS EMPTY THEN SAY 'NO REQUESTS TO APPROVE'] -->
            {% if pending_requests==[] %}
                No requests to approve. <br><br>
                <a href="/">Back to home?</a>
            {% endif %}
            {% for request in pending_requests%}<br>
            <p>
            {{request.username}} has requested {{request.name}} on {{request.date_not_available}}<br>

            <form action="/approve/{{request.id}}/{{request.date_not_available}}" method="POST"><input type="submit" value="Approve"></form><form action="/deny/{{request.id}}/{{request.date_not_available}}" method="POST"><input type="submit" value="Deny"></form>
            </p>
            {% endfor %}
        </p>
    </body>
</html>
