{% extends 'base.html' %}

<body>
    
    {% block header %} {{ super() }} {% endblock %}

    {%block content%}
        <main> 
            {% if error == "" %}
            {% for i in range(number) %}
            <div> <center> 
                <h2> {{names[i]}} </h2> 
                <p>  {{dates[i]}} </p>
                <p> <button class="button" type="submit"> accept </button> <button class="button" type="submit"> decline </button> </p>
            </center> </div>

            {%endfor%}
            {% else %}
            <h2 class="error"> <center> {{error}} </center>  </h2>
            {% endif %}

        </main>
    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}


</body>

