<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" >
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Include the Flatpickr CSS and JavaScript files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <header>
        <img src="https://media.istockphoto.com/id/1313644269/vector/gold-and-silver-circle-star-logo-template.jpg?s=612x612&w=0&k=20&c=hDqCI9qTkNqNcKa6XS7aBim7xKz8cZbnm80Z_xiU2DI=" alt="a dummy lorem logo image">
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li>{% block login_signup %}{% endblock %}</li>
        </ul>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Retrieve the list of unavailable dates from the server or your data source

            flatpickr("#booking_date", {
                dateFormat: "Y-m-d",
                disable: unavailableDates,
                minDate: "2023-10-23", // Set the minimum date
                maxDate: "2023-10-30", // Set the maximum date
            });
        });
    </script>
</body>
</html>
