<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" >
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Include the Flatpickr CSS and JavaScript files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body>
    <header>
        <img src="https://media.istockphoto.com/id/1313644269/vector/gold-and-silver-circle-star-logo-template.jpg?s=612x612&w=0&k=20&c=hDqCI9qTkNqNcKa6XS7aBim7xKz8cZbnm80Z_xiU2DI=" alt="a dummy lorem logo image">
        <ul class="links">
            <li>
                {% if "user" in session %}
                    <li><a href="/">Spaces</a></li>
                    <li><a href="/reservations">Reservations</a></li>
                    <li><a href="/bookings">Bookings</a></li>
                    <li><a href="/logout">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                {% endif %}
            </li>
        </ul>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
