{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>book a <span class="highlight text-shadow">space</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>

        <!-- TODO got to list a space form -->
        <a href="">list a space</a>

        <!-- filter spaces form -->
        <form action="" method="post" class="form-container-landscape box-shadow">
            <!-- We check to see if there are any errors from a previous submission -->
            {% if errors %}
                <!-- If so, we show them. -->
                <p class="t-errors">
                    There were errors with your submission: {{ errors }}
                </p>
            {% endif %}

            <p class="input-container">
                <label for="available-from">available from</label>
                <input type="text" name="available-from" id="available-from">
            </p>
            <p class="input-container">
                <label for="available-to">available to</label>
                <input type="text" name="available-to" id="available-to">
            </p>
            <p>
                <input class="button box-shadow" type="submit" value="list spaces">
            </p>
        </form>
        <div class="space-heading">
            <span>id</span>
            <span>name</span>
            <span>price per night</span>
            <span>description</span>
        </div>
        {% for space in spaces %}
            <div class="space-container">
                <span>{{space.id}}</span>
                <span>{{space.name}}</span>
                <span>£{{space.price_per_night}}</span>
                <span>{{space.description}}</span>
            </div>
        {% endfor %}
    </div>
{% endblock %}