<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book {{listing.name}}</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
</head>

<body>
    <!-- In booking_form.html -->
    <h1>Book {{ listing.name }}</h1>
    <form action="{{ url_for('post_booking', listing_id=listing.id) }}" method="POST">
        <input type="date" name="check_in" required>
        <input type="date" name="check_out" required>
        <input type="submit" value="Book">
    </form>
</body>

</html>