<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
          
    {% block header %} {{ super() }} {% endblock %}

    {%block content%}
    </head>
    <body>       
          <style>
            .content {
              max-width: 600px;
              margin: auto;
              background: white;
              padding: 10px;
            }
            </style>
          <div class="content">
            <h3>Name: {{spaces.name}}</h3>
              <p>Description : {{spaces.description}}<br>Price per night £101</p>
            <button onclick="myFunction()"> Reserve </button>
          <p id="reserve"></p>
      
      <script>
      function myFunction() {
        document.getElementById("reserve").innerHTML = "Your booking has been requested.";
      }
      </script>
      
      </body>    
      {% endblock %}

      {% block footer %} {{ super() }} {% endblock %}
</html>