<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a space!</title>
</head>
<body>
    {% if id %}
    <h1>Book your space</h1>
    <p>User id is: {{id}}</p>
    <ul> 
        {% for listing in listings %}
        <li> 
            <a href="/listing/{{listing.id}}"> {{listing.title}}</a>
        </li>
        {%endfor %}
    </ul>
    {% else %}
        <div> Please log in to view content </div>
        <a href="/login">Login page</a>
    {% endif %}
</body>
</html>