<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bookings</title>
    <link rel="stylesheet" href="/static/style.css" >
    <meta charset="utf-8">
</head>

<body>
    <nav>
        <ul class="nav-links">

            <li><a class="active" href="/index">Home</a></li>

            <li><a href="/listings">View Spaces</a></li>

            <li><a href="/listings/new">Create a Space</a></li>
            {% if user_id is none %}

            <li><a href="/login">Login</a></li>

            <li><a href="/register">Register</a></li>
            {% else %}
            <li><a class="active" href="/bookings">Bookings</a></li>

            <li><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
    <h1>Here are your bookings</h1>
    {% for booking in bookings %}
    <div>

        <p class="t-listing-name">Listing: {{ listing_names.get(booking.listing_id, 'Unknown') }}</p>
        <p class="t-booked-at">{{booking.booked_at}}</p>
        <p class="t-check-in">Check in: {{booking.check_in}}</p>
        <p class="t-check-out">Check out: {{booking.check_out}}</p>

    </div>
    {% endfor %}
</body>

</html>