<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Spaces| MakersBnB</title>
</head>
<body>
    <div>
        <a href="/1/spaces"> Spaces</a> |
        <a href="/1/requests"> Requests</a> |
        <a href="/"> Sign out</a>
    </div>
    <div>Title: {{space.title}} </div>
    <div>Price: {{space.price}} </div>
    <div>date: {{date}} </div>
    <form action="/1/current_book/{{space.id}}" method="post">

        <p>
            <label for="Confirm"></label>
            <br>
            <input type="hidden" name = "date" value = "{{date}}"  >
            <input type="submit" name="Confirm Booking" id="Book" Value = "Confirm Booking">
        </p>
    </form>
</body>
