<html>
    <head>
        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Booking Requests</h1>
        <h2>Booking Requests Made</h2>
        <ul>
            {% for booking, space_name, confirmed in user_booking_requests %}
                <li>
                    Space: {{ space_name }},
                    Confirmation Status: {% if confirmed %} Confirmed {% else %} Not Confirmed {% endif %}
                </li>
            {% endfor %}
        </ul>

        <h2>Booking Requests Received</h2>
        <ul>
            {% for booking, space_name, confirmed in requests_received %}
                <li>
                    Space: {{ space_name }},
                    Confirmation Status: {% if confirmed %} Confirmed {% else %} Not Confirmed {% endif %}
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
