<!DOCTYPE html>
<html>
    <head>
        <title>Confirmed</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/booking_styling.css" >
    </head>
        <body>
                
                <form>
                    <div class="welcome_page" >
                        <h1 class = "message"> BOOKING CONFIRMED</h1>
                        <h3 class="booking_confirmed_txt">See you soon !</h3>
                    </div>
                </form>
                
            
        </body>
</html>
