<!DOCTYPE html>
{% extends 'base.html' %}
<html>
    <head>
          
    {% block header %} {{ super() }} {% endblock %}

    {%block content%}
    </head>
    <body>       
          <style>
            .content {
              max-width: 600px;
              margin: auto;
              background: rgb(177, 220, 246);
              padding: 10px;
            }
            </style>
          <div class="content">
            <h3>Your booking details</h3>
              <p>{{space.name}}<br>Description : {{space.description}}<br>Price per night £{{space.price_per_night}}</p>
              <p>Your booking has been requested from {{ date_from }} to {{date_to}}</p>
      </body>    
      {% endblock %}

      {% block footer %} {{ super() }} {% endblock %}
</html>