<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm booking</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="topnav">
        <h1 href="#home">Makers</h1>
        <div>
            <a  href="../spaces/index.html">Spaces</a>
            <a  href="#Requests">Requests</a>
            <a  href="#Signout">Signout</a>
        </div>
    </div>
    
    <h3>Request for 'Beautiful Relaxing Space'</h3>

    <div>
        <p>Date: 09/05/2024</p>
        <p>No of spaces booked: 4</p>
    </div>

    <h4>Other Requests for this Space</h4>
    
    <div  class="regform">
        <p>Other Space</p>
        <p>Not confirmed</p>
        <p>09/05/2024</p>
        <br>
        <input type="submit" value="Confirm Request from username@gmail.com">
        <input type="submit" value="Deny Request from username@gmail.com">
    </div>
</body>
</html>
