<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation Page</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <header>
            <ul class="navbar">
                <li><a href="/spaces">Listings</a></li>
                <li><a href="/requests">Requests</a></li>
            </ul>
            {% if session.logged_in %}
                <!-- Show the logout button when the user is logged in -->
                <form action="/logout" method="post">
                    <input type="submit" value="Logout">
                </form>
            {% endif %}
            
        </header>
        <h1>Request for {{listing.listing_name}}</h1>
        <div>
                <p>
                    Thanks for booking
                </p>
        </div>
    </body>
</html>
