<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <header><h1>MakersBnB</h1></header>
        <div class = "forms_container">
            <h2>Create Account</h2>
        <form action="/profile" method="POST" class="create_account_form">
            <label for="user_name">Username</label><br>
            <input type="text" user_name="user_name"><br/>
            <label for="email">Email </label> <br/>
            <input type="text" email="email"><br/>
            <label for="password">Password</label><br/>
            <input type="text" password="password"><br/>
            <div class = "link_create_acc_container">
            <a href="/sign_in" class = "account_link">Already have an account? Sign in here!</a>
            <input type="submit" value="Create Account" class = "button">
            </div>
        </form>
        
        </div>
    </body>
</html>