<!DOCTYPE html>
<html>
    <head>
        <title>Create a Listing</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Create a Listing</h1>
        <form action="" method="post">
            <p>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </p>
            <p>
                <label for="description">Description</label>
                <input type="text" name="description" id="description">
            </p>
            <p>
                <label for="price">Price Per Night: £</label>
                <input type="text" name="price" id="price">
            </p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>
