<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ url_for('get_index') }}" style="color: #DDE6ED;">
                <img src="/static/images/logo.jpeg" width="45" height="50" alt="logo-img">
                MakersBnB
            </a>
        </nav>
        <br>
        <br>
        <div class = "forms_container">
            <h2>Create Account</h2>
            <form method="POST" action="">
                <fieldset>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.username }}<br>
                    </p>
                    <p>
                        {{ form.password }}<br>
                    </p>
                    <p>
                        {{ form.email }}<br>
                    </p>
                    <p>
                        {{ form.submit(class="button")}}
                    </p>
                    <!-- Link to navigate back to sign_in page-->
                    <div class = "forward-button">
                        <a href="/login" class = "account_link">Already have an account? Sign in here!</a>
                    </div>
                </fieldset>
            </form>
        
        </div>
        <footer>©MakerBnB</footer>
    </body>
</html>