<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Booking Requests</title>
</head>
<body>
    <h1> MakersBNB </h1>
    <h2> Booking requests you have made </h2>
    <table border="1">
        <tr>
            <th>Space Name</th>
            <th>Check-in Date</th>
            <th>Approval Status</th>
        </tr>
        <tr>
            <td>The Devonshire</td>
            <td>2023-11-01</td>
            <td>Approved</td>
        </tr>
        <tr>
            <td>The Labouring Man</td>
            <td>2023-11-15</td>
            <td>Pending</td>
        </tr>
    </table>
        <a href="/index" class="return-to-homepage"> Return to homepage</a>
    </body>
</html>
