<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakerBnB</title>
    <link rel="stylesheet" href="/static/style.css" >
</head>
<body>
    <div>
        <a href="/about"> About</a> |
        <a href="/login"> Login</a>
    </div>
    <div>
    <h1>Feel at home, anywhere</h1>
    <h2> Sign up to MakersBnB</h2>
    <form action="/login" method="post">
            {% if errors%}
            <p class= "t-errors">
                There were errors in your submission
                <!-- There were errors in your submission: {{ errors | join(', ')}} will maybe use with python code --> 
            </p>
            {% endif %}
    <p>
        <label for="email">Email Address</label>
        <br>
        <input type="text" name="email" id="email">
    </p>
    <p>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" id="password">
    </p>
    <p>
        <label for="password_confirmation">Password confirmation</label>
        <br>
        <input type="password" name="password_confirmation" id="password_confirmation">
    </p>
    <p>
        <input type="submit" value="Sign up">

    </p>
</form>
</div>

</body>
</html>