<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MakersBnB</title>

    <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <nav>
      <ul>
      {% if not logged_in %}
      <li><a href="/signup">Sign-up</a></li>
      <li><a href="/login">Log-in</a></li>
      {% endif %}
      {% if logged_in %}
      <form action="/logout" method="POST">
        <input type="submit" value="Log Out">
      </form>
      <li><a href="/requests">Requests</a></li>
      {% endif %}
    </ul>
    </nav>
    <main>
    <h1 class="t-title">Welcome to MakersBNB</h1>
    <a href="/new-space"><button> Create new space</button></a>
    <h2>Spaces</h2>
    <ul >
      {% for space in spaces %}
      <li class="space-item">
      <h3 class="space-title">{{space.title}}</h3>
      <p class="description">{{space.description}}</p>
      <p class="price">{{space.price}}</p>
      </li>
      {% endfor %}
      
    </ul>
  </main>
  </body>
</html>
