{% extends "layout.html" %}

{% block body %}

  <body>
    <h1 style="text-align: center">Signup to MakersBnB</h1>
    <form action="/" method="POST" style="text-align: center">
      Username
      <br />
      <input type="text" name="username" />
      <br />
      <br />
      Email
      <br />
      <input type="email" name="email" />
      <br />
      <br />
      Password
      <br />
      <input type="password" name="password" />
      <br />
      <br />
      Password Confirmation
      <br />
      <input type="password" name="password_confirmation" />
      <br />
      <br />
      <input type="submit" value="Submit" />
    </form>
  </body>
{% endblock %}
