<!DOCTYPE html>
<html lang="en">
    <head>
        <ul class="navigation">
            <li><a href="/index">Home</a></li>
            <li>My Listings</li>
            <li>My Bookings</li>
            <li><a href="/sign-up">Sign Up</a></li>
            <li>Log Out</li>
        </ul>
        <title>Listings</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Listings</h1>
        <a href="/list-property">List your property</a>
        <ul>
            {% for property in properties %}
            <li>
                <a href="/listings/{{property.id}}">{{property.name}}</a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>