<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{property.name}}</title>
        <link rel="stylesheet" href="/static/style.css" >
        <ul class="navigation">
            <li><a href="/listings">Home</a></li>
            <li>My Listings</li>
            <li><a href="/my-bookings">My Bookings</a></li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </head>
    <body>
        <h1>{{property.name}}</h1>
        <p class="description">Description: {{property.description}}</p>
        <p class="price">Price: {{formatted_price}}</p>
        {% if error %}
            <div class="error">{{error}}</div>
        {% endif %}
        {% if confirmation %}
            <div class="confirmation">Booking confirmed</div>
        {% endif %}
        <form action="/listings/{{property.id}}", method="post">
            <p>
                <label for="start_date">Start Date</label>
                <input type="date" name="start_date" id="start_date"> 
            </p>
            <p>
                <label for="end_date">End Date</label>
                <input type="date" name="end_date" id="end_date"> 
            </p>
            <p>
                <input type="submit" role="button" value="Book">
            </p>
        </form>

    </body>
</html>