<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Please log in.</h1>
        <form method="post" action="/">
            <label for="email">E-mail Address:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="passw">Password:</label><br>
            <input type="text" id="passw" name="passw"><br>
            <button type="submit" id="submit">Submit</button>
            
        </form>
    </body>
</html>
