{% extends "layout.html" %}

{% block body %}
<body>
        <h1 style="text-align:center;">Log in to MakersBnB</h1>
<form action="/login" method="POST" style="text-align:center;">

Username
<br>
<input type="text" name="username">
<br>
<br>
Password
<br>
<input type="password" name="password">
<br>
<p>Please note: Usernames & Passwords are case sensitive</p>

<input type="submit" value="login">
</form>
<br>
<br>
<p>If you don't have an account, please go to our signup page:</p>
<div class="createAccountButton">
        <a class="button" href="/">Create account</a> <br>
</div>
</body>
{% endblock %}