<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/ah_style.css" >
        
    </head>
        <body>
    <div class="header">
        <img align=left src=https://cdn.discordapp.com/attachments/1008127301474590850/1146739535703720008/white_letter-m_2.png alt="site logo">
        <h1> Makersbnb</h1>
    </div>
            <div class="page_image"> <img align = left src=https://plus.unsplash.com/premium_photo-1684175656172-19a7ee56f0c8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80 alt="Vacation"> </div>
                <form>
                    <div class="login_page" align = center >
                        <h1> Please login </h1>
                        <label for="email input"><b>Enter email</b></label> </br>
                        <input id="" type="text" placeholder="  Enter email"></br>
                        <label for="password"><b>Password </b></label> </br>
                        <input type="password" placeholder="  Enter Password"></br>

                        <label for="repeat password"><b> Re-enter password</b></label></br>
                        <input type="password" placeholder="  Enter Password"></br>

                        <button type="submit">Register</button> </br>
                        
                        <b class="psw">Forgot password? </b>
                        <b class="login">   <a href="#">Sign up</a></b>

                    </div>
                </form>
                
        </body>
</html>
