<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>SpaceBnB - logout</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
    <body>
        <div class="links" >
            <a href="/spaces">Spaces</a>
            <a href="/requests">Requests</a>
            <a href="/logout">Sign out</a>
        </div>
        <h1></h1>
        <h2></h2>
        <h3>Log out</h3>

        <button type="button" onclick="alert('Confirm logout?')"> Log out </button>
        <button type="button" action='' onclick="myFunction()">Log out</button>
        
        <script>
        function logOut() {
            var confirmLogout = confirm("Are you sure you want to logout?");
            if (confirmLogout) {
                // Perform logout actions here
                alert("Logged out successfully");
                // You can add code here to execute
            }
        }
        </script>
    </body>
</html>