<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title>SpaceBnB - logout</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
    <body>
        {% include "banner.html" %}
        <div class='username'>
            <code>
                {% if session.user_id %}
                    <p>{{ user.username }} signed in</p>
                {% endif %}
            <code>
        </div>
        <div class="links" >
            <a href="/spaces">Spaces</a>
            <a href="/requests">Requests</a>
        </div>
        <h1>Space BNB</h1>
        <h2>Would you like to log out?</h2>
        <h3></h3>
        <form method = "post">
            <input type = "submit" value = "log out">
        </form>
        
    </body>
</html>