<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="utf-8">
        <title>MakersBnB Log out</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        
        <h1>Log out</h1>
        
        <form action="/login" method="post">
                <button type="submit" id="logout-button">Log out</button>
        </form>

    </body>
</html>