<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My listings</title>
        <link rel="stylesheet" href="/static/style.css" >
        <ul class="navigation">
            <li><a href="/listings">Home</a></li>
            <li>My Bookings</li>
            <li><a href="/logout">Log Out</a></li>
        </ul>
    </head>
    <body>
        <h1>My listings</h1>
        {% if error %}
            <strong class="error">{{ error }}</strong>
        {% endif %}
        <ul>

            {% for property in properties %}
            <li>
                <p class="name"><strong>Name:</strong> {{ property.name }}</p>
                <strong>Description:</strong> {{ property.description }}<br>
                <strong>Price:</strong> {{ property.price }}
                <hr>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>