{% extends 'base.html' %}
<body>
    {% block header %} {{ super() }} {% endblock %}
    
    <nav class ="navbar">
        <div class="flex-nav"></div>
        <div class="properties-listed">Property Listings</div>
        <div class="my-listings">My Listings</div>
        <div class="my-profile">My Profile</div>
        <div class="my-requests">My Requests</div>
    </nav>

    {%block content%}
    <main>
        <div class="space-container">
                <h2>My Requests</h2>
                {% for request in requests %}
                <p>{{request.name}}</p>
                <p>{{request.price_per_night}}</p>
                <p>{{request.date_from}}</p>
                <p>{{request.date_to}}</p>
                <p>{{request.status}}</p>
                <hr>
                {% endfor %}
        </div>
    </main>
    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}
</body>
</html>
