<!DOCTYPE html>
<html>
    <head>
        <title>new listing</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <!--homepage button-->
        <form action="/home" method="get">
            <button type="submit">Homepage</button>
        </form>

        <!--login button-->
        <form action="/log_in" method="get">
            <button type="submit">Log in</button>
        </form>

        <!--new listin form-->
        <h1>List a space</h1>
        <form action="/space" method="post">
            <label for="address">Address:</label><br>
            <input type="text" id="address" name="address" required><br>

            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description" required><br>

            <label for="price">Price:</label><br>
            <input type="text" id="price" name="price" required><br>

            <button type="submit">List a space</button>
        </form>
    </body>
</html>
