<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>SpaceBnB - new space</title>
        <meta charset="utf-8">
        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        {% include "banner.html" %}
        <div class='username'>
            <code>
                {% if session.user_id %}
                    <p>{{ user.username }} signed in</p>
                {% endif %}
            <code>
        </div>
        <div class="links" >
            <a href="/spaces">Spaces</a>
            <a href="/requests">Requests</a>
            <a href="/logout">Sign out</a>
        </div>
        <h1></h1>
        <h2></h2>
        <h3>List a Space</h3>
        <h4>Lots of writing that means nothing</h4>

        <form action="/new_space" method="post">
            <fieldset>
            Name: <input type="text" name="space_name" id="space_name"></input>
            Description: <textarea name="description" id="description" placeholder="description here ..."></textarea>
            Price per night (£): <input type="number" name="price" id="price"></input>
            Available From: <input type="date" name="start_date" id="start_date">
            Available To: <input type="date" name="end_date" id="end_date">
            <input type="submit" value="List my Space" name="list-space">
            </fieldset>
        </form>

    </body>
</html>
