<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="logo.png" width="30" height="30" alt="logo-img">
            MakersBnB
        </a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Hi, {{ user.user_name }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index">Sign Out</a>
                </li>
            </ul>
        </div>
    </nav>
    
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.name}}</br>
        {{ form.address}}</br>
        {{ form.price }}</br>
        {{ form.description}}</br>
        {{ form.date_added(class="form-control", placeholder="YYYY-MM-DD", type="date") }}</br>
        {{ form.image_path }}</br>
        {{ form.submit(class ="button")}}
    </form>
</body>
</html>