{% extends "base.html" %}
{% block title %}MakersBnB{% endblock %}
{% block login_signup %}<a href="/signup">Sign Up</a>{% endblock %}
{% block content %}
    <section class="new_space_section">
        <h2>Add a new space</h2>

        <form class="new_space_form" action="/spaces", method="POST">
            {% if errors %}
            <p class="errors">
                Your submission contains errors:
                {{ errors | join(', ') }}
            </p>
            {% endif %}

            <label for="name">Name:</label>
            <input type="text" name="name" id="name" required>

            <label for="description">Description:</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>

            <label for="size">Size of the space (in m2):</label>
            <input type="text" name="size" id="size" required>

            <label for="price">Price per night:</label>
            <input type="text" name="price" id="price" required>

            <button type="submit">Add space</button>
        </form>
    </section>
{% endblock %}