<!DOCTYPE html> 
<html>
    <head> 
        <title>BookingRequests</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body> 
    <h1> MakersBNB </h1>
    <h2> Booking requests for your properties </h2>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Check-in Date</th>
            <th>Space ID</th>
            <th>Approval Status</th>
        </tr>
        <tr>
            <td>1</td>
            <td>2023-11-01</td>
            <td>2</td>
            <td>Approved</td>
        </tr>
        <tr>
            <td>2</td>
            <td>2023-11-15</td>
            <td>3</td>
            <td>Pending</td>
        </tr>
    </table>
        <a href="/index" class="return-to-homepage"> Return to homepage</a>
    </body>
</html>

