{% extends "base.html" %}
{% block title %}MakersBnB{% endblock %}
{% block content %}
<section class="spaces_page">
    <div class="spaces_blurb">
        <h2>Owner's Booking Dashboard: Your Space Reservations</h2>
        <p>Here is a list of reservations made under a space you own.</p>
    </div>

    <div class="space_cards">
        {% for booking in bookings %}
        <article class="space_card">
            <p>Space ID: {{booking.space_id}}</p>
            <p>Customer ID: {{booking.booker_id}}</p>
            <p>Booking From: {{booking.start_date}}</p>
            <p>To: {{booking.end_date}}</p>
            <p>Confirmed? {{booking.confirmed}}</p>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}