<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register a new account</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Enter Account Details</h1>
        <form action="/register" method="POST">

            {% if errors == 'username error' %}
            <p>Username is not available</p>
            {% endif %}

            {% if errors == 'password error' %}
            <p>Passwords do not match</p>
            {% endif %}            

            <label for="Username">Username</label><br>
            <input type="text" name="Username" id="Username"><br><br>

            <label for="Name">Name</label><br>
            <input type="text" name="Name" id="Name"><br><br>

            <label for="Password">Password</label><br>
            <input type="password" name="Password" id="Password"><br><br>

            <label for="Password2">Re-enter Password</label><br>
            <input type="password" name="Password2" id="Password2"><br><br>

            <label for="Email">Email</label><br>
            <input type="text" name="Email" id="Email"><br><br>

            <label for="Phone Number">Phone Number</label><br>
            <input type="number" name="Phone Number" id="Phone Number"><br><br>

            <input type="submit" value="Create">
        </form>
    </body>
</html>