{% extends "base.html" %}

{% block title %}Rented Spaces{% endblock %}

{% block login_signup %}{% endblock %}

{% block content %}
  <h1>Rented Spaces by me</h1>
  <div class="space-list">
    {% for space in spaces %}
      <section class="space-page">
        <h2>{{ space.name }}</h2>
        <p>{{ space.description }}</p>
        <p>Size: {{ space.size }} sq ft</p>
        <p>Price: ${{ space.price }}</p>
        <p>Owner ID: {{ space.owner_id }}</p>
      </section>
    {% endfor %}
  </div>
{% endblock %}