{% extends "base.html" %}

{% block title %}Rented Spaces{% endblock %}

{% block login_signup %}{% endblock %}

{% block content %}
  <section class="spaces_page">
    <div class="spaces_blurb">
      {% if "user" in session %}
        <h2>Hi {{ session["user"] }}</h2>
      {% endif %}
      <h2>Rented Spaces</h2>
      <p>Here are the spaces you have rented:</p>
    </div>

    <div class="space_cards">
      {% for space in spaces %}
        <a href="/spaces/{{ space.id }}">
          <article class="space_card">
            <h2>{{ space.name }}</h2>
            <p>{{ space.description }}</p>
            <p>Size: {{ space.size }} sq ft</p>
            <p>Price: ${{ space.price }}</p>
            <p>Owner ID: {{ space.owner_id }}</p>
          </article>
        </a>
      {% endfor %}
    </div>
  </section>
{% endblock %}
