<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>SpaceBnB - request</title>
        <meta charset="utf-8">
        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        {% include "banner.html" %}
        <div class='username'>
            <code>
                {% if session.user_id %}
                    <p>{{ user.username }} signed in</p>
                {% endif %}
            <code>
        </div>
        <h1></h1>
        <h2></h2>
        <h3>Request for ...</h3>
        <h4>Lots of writing that means nothing</h4>


    </body>
</html>
