<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Requests</title>
    </head>
    <body>
        <h1>Requests</h1>
        <p>Below are the requests you have made and received (including their status)</p>
        
        <div>
            <div>
                <h2>Requests I have made</h2>
                    {% for request in requests %}
                    <div class="request">
                        <h2 id="request_address">{{request['address']}}</h2>
                        <p id="request_description">{{request['description']}}</p>
                        <p id="request_price">Price: £{{request['price']}}</p>
                    </div>
                    {% endfor %}
            </div>
            <div>
                <h2>Requests I have received</h2>
                    {% for response in responses %}
                    <div class="response">
                        <h2 id="response_address">{{response['address']}}</h2>
                        <p id="response_description">{{response['description']}}</p>
                        <p id="response_price">Price: £{{response['price']}}</p>
                    </div>
                    <form action="/request/{{ id }}" method="get">
                        <button type="submit">Decide!</button>
                    </form>
                    {% endfor %}
            </div>
        </div>
    </body>
</html>