<!DOCTYPE html>
<html>
    <style>
         .flex-box {
  display:flex;
  justify-content:space-between;
  width: 275px;
  align-items: left;
  flex-direction: column;
  outline: none;}
    </style>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Request for {{ spaces.title }}</h1>
        <p>Date availability: {{ formatted_date_range(spaces.daterange) }}</p>
    
        <form method="post" action="/requestspace/{{ spaces.id }}">
            <label for="startdate">Start Date:</label><br>
            <input type="date" id="startdate" name="startdate" required><br>
            <button type="submit" id="submit">Submit Request</button>
        </form>
    </body>
    </html>
