<!DOCTYPE html>
<html>
    <head>
        <title>Pending Request</title>
        <link rel="stylesheet" href="/static/newstyle.css" >
        
    </head>
    <body> 
        <h1> Request for your space  </h1>
        <p style="text-align:center;" >From : example@gmail.com<br>Date from: 12/12/2024<br> Date to: 14/12/2024<br>Adults:2 Kids:0<br>No. of rooms:1<br><br><br></p>
        <style >
            p {
                width: 200px;
                border: 5px solid black;
                padding: 10px;
                margin: 10px;
                float: left;    
            }
        </style>
    </body>
</html>