<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign up</title>
        <link rel="stylesheet" href="/static/style.css" >
        <ul class="navigation">
            <li><a href="/index">Home</a></li>
            <li>My Listings</li>
            <li>My Bookings</li>
            <li><a href="/sign-up">Sign Up</a></li>
            <li>Log Out</li>
        </ul>
    </head>
    <body></body>
        <h1>Sign up</h1>
        {% if errors %}
        <div class="sign-up-error">User already exists</div>
        {% endif %}
        {% if error_password %}
        <div class="password-error">Password invalid</div>
        {% endif %}
        <form action="/sign-up" method="POST">
            <p>
                <label for="email">email</label>
                <input type="text" name="email" id="email">
            </p>
            <p>
                <label for="password">password</label>
                <input type="text" name="password" id="password">
            </p>
            <p>
                <input type="submit" value="Sign up">
            </p>
            <p>
                <a href="/index">Login Page</a>
            </p>
        </form>
    </body>
</html>