<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <header><h1>MakersBnB</h1></header>
        <div class = "forms_container">
            <h2>Sign In</h2>
        <form action="/profile" method="POST" class="sign_in_form">
            <label for="email">Email </label> <br/>
            <input type="text" email="email"><br/>
            <label for="password">Password</label><br/>
            <input type="text" password="password"><br/>
            <input type="submit" value="login" class = "button">
        </form>
        </div>
    </body>
</html>