<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                margin: 1; /* Remove default margin */
                padding: 1; /* Remove default padding */
            }
            .login-container {
                position: absolute;
                top: 7px;
                right: 7px;
            }
            .login-button {
                padding: 10px; /* Adjust the padding for the button as needed */
            }
        </style>
    </head>
    <body>
        <div class="login-container">
            <input class="login-button" type="submit" value="Login">
        </div>
    </body>


        <p>
            
            
        </p>
        

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>Sign up to MakersBNB</h1>
        <form action="/sign_up" method="POST">
            <p>
                <label for="username">Username</label>
                <br>
                <input type="text" name="username" id="username">
            </p>
            
            <p>
                <input type="submit" value="Sign up">
            </p>
        </form>
    </body>
</html>
