<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Sign up below</h1>

    <form action="/sign_up" method="post">
    
    {% if errors %}
        <p class="t-errors">
        There were errors with your submission: {{ errors }}
        </p>
    {% endif %}

        <p>
            <!-- These `label` tags are important for accessibility -->
            <label for="name">Name</label>

            <!-- The `type` attribute says what kind of field this is -->
            <!-- The `name` attribute says what parameter name should be sent to the server -->
            <!-- The `id` field here is used to link it to the `for` tag in the label -->
            <input type="text" name="name" id="name">
        </p>
        <p> 
            <label for="email">Email</label>
            <input type="text" name="email" id="email">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </p>
        <p>
            <!-- `type` is submit here, to indicate it is a button -->
            <!-- `value` is used as the button's text -->
            <input type="submit" value="Submit">
        </p>
        </form>
    </body>
</html>