<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/signup_styles.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Document</title>
</head>
<body>

    {% extends "layout.html" %}
        
    {% block body_content %}

<div class="signin-container">
    <form action="/login">
        
        <label for="username"><b>Login with username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
            <br>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
</div>

<div class="sign-up-message">{{success}}</div>

<form action="/signup" method="post">
      
        <div class="form-container">
            <h3 class = "signup-heading">If you do not have an account, signup here:</h3>
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>
            <br>

            <label for="actualname"><b>Full Name</b></label>
          <input type="text" placeholder="Enter Full Name" name="actualname" required>
          <br>

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
          <br>
          

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="signup-password" required>
      <br>
            
          <button type="submit">Sign up</button>
          <br>
        </div>

      <br>
        
      </form>


    </form>
    {% endblock %}
</body>
</html>