<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            /** This is CSS, it is used for styling the page **/
            body {
            background-color: white;
            color: rgb(0, 0, 0);
            font-size: 5em;
            }
        </style>
    </head>
    <body>

    <h1>MakersBnB</h1>
        <h3>{{space.name}}</h3>
        <p>Description: {{space.description}}</p>
        <p>Price: £{{space.price}}</p> 
        <p>Availability: {{space.start_date}} to {{space.end_date}}</p>
    </body>
</html>