<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{listing.name}}</title>
    <link rel="stylesheet" href="/static/style.css" >
    <meta charset="utf-8">
</head>

<body>
    <nav>
        <ul class="nav-links">
            <li><a href="/index">Home</a></li>
            <li><a class="active" href="/listings">View Spaces</a></li>
            <li><a href="/listings/new">Create a Space</a></li>
        </ul>
    </nav>
    <h1>{{listing.name}}</h1>

    <div>
        
        <p class= "t-description">{{listing.description}}</p>
        <p class= "t-price-per-night"><strong>£{{listing.price_per_night}} per night</strong></p>
        <p class= "t-available-from">Available from: {{listing.available_from}}</p>
        <p class= "t-available-to">Available to: {{listing.available_to}}</p>
    </div>
    <a 
    href="/listings" class="button">Show all Spaces</a>
</body>

</html>