<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>

        <!-- Navigation Div -->
        <div class="topnav">
            <a href="/spaces">Spaces</a>
            <a href="/spaces/new_space">Add Space</a>
            <a class="login" href="#spaces">Login</a>
        </div>
    
        <!-- Content -->
        <div class="content">
            <h1>MakersBnB</h1>
            <div class="left-column">
                <!-- Add your photos or any other content here -->
            </div>
            <div class="right-column">
                <h3>{{space.name}}</h3>
                <p>Description: {{space.description}}</p>
                <p>Price: £{{space.price}} Per Night</p> 
                <p>Availability: {{space.start_date}} to {{space.end_date}}</p>
                <img src="/static/images/{{ space.id}}.jpg">
            </div>
        </div>
    
    </body>
</html>