<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>space.title| MakersBnB</title>

</head>
<body>
    <div>
        <a href="/spaces"> Spaces</a> |
        <a href="/requests"> Requests</a> |
        <a href="/"> Sign out</a>
    </div>
    <div>

    <h1>space.title</h1>
    <p>
        <label for="pick_a_night">Pick a night (YYYY/MM/DD)</label>
        <br>
    </p>
    <form action ="/requests" method = "post">
    <p>
        <input type="text" name="pick_a_night" id="pick_a_night"> 
    </p>

    <input type="submit" value="Request to Book">
    </form>
    </div>
</body>
</html>