<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
    <!--Navigation Div-->
    <div class="topnav">
        <a href="/spaces">Spaces</a>
        <a href="/spaces/new_space">Add Space</a>
        <a class="login" href="#spaces">Login</a>
    </div>

    <h1>MakersBnB</h1>
    <h2>Available spaces:</h2>
        {% for space in spaces_list %}
        <a href="single_space/{{ space.id }}">
        <h3>{{space.name}}</h3>
        </a>
        <!-- <p>Description: {{space.description}}</p>
        <p>Price: £{{space.price}}</p> -->
        {% endfor %}
    </body>
    <footer>

    </footer>
</html>