{% extends "base.html" %}
{% block title %}MakersBnB{% endblock %}
{% block login_signup %}<a href="/signup">Sign Up</a>{% endblock %}
{% block content %}
    <section class="space_page">        
        <h1 id="space-name">{{ space['name'] }}</h1>
        <p id="space-description">{{ space['description'] }}</p>
        <p id="space-size">{{ space['size'] }}</p>
        <p id="space-price">{{ space['price'] }}</p>
        <p>Pick a night</p>
        <input type="text" id="booking_date" name="booking_date" data-input />
        <br />
        <br />
        <button>Request to book</button>
    </section>

    <script>
        alert({{ unavailable_dates|safe }});
        flatpickr("#booking_date", {
            disable: {{ unavailable_dates|safe }},
            dateFormat: "Y-m-d",
        });
    </script>
{% endblock %}

