<!DOCTYPE html>
<html>
    <head>
        <title>This Space</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1 id="space_address">{{space.address}}</h2>
            <div class="space">
                <p id="space_description">{{space.description}}</p>
                <p id="space_price">Price: £{{space.price}}</p>
            </div>
            <div class="calendar">
                <!-- Calendar will be dynamically populated here -->
                <div class="month">
                    <span class="month-name">May 2024</span>
                    <div class="days-grid">
                        <!-- Days for the month -->
                        {% for day in range(1, 32) %}
                        <form action="/book" method="post">
                        <button type="submit">{{ day }}</button>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </body>
</html>
