<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Venue</title>
</head>
<body>
    <h1>{{space.name}}</h1><br>

    <p>{{space.description}}</p>

    <p>{{space.price_per_night}}</p>
    <form action="">
    <label for="start_date">Start Date</label>
    <input type="date" min="{{space.start_date}}" max="{{space.end_date}}" id="start_date"><br>

    <label for="end_date">End Date</label>
    <input type="date" min="{{space.start_date}}" max="{{space.end_date}}" id="end_date"><br>
    <input type="submit" value="Request to Book">
</form>
</body>
</html>