<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>All Spaces | MakersBnB</title>
    </head>
    <body>
        <div class="header">
            MakersBnB
            <div class="header-right">
                <a href="/spaces">Spaces</a> |
                <a href="/requests">Requests</a> |
                <a href="/index">Sign out</a>
            </div>
        </div>

        <h1 class="centered-title">{{space.name}}</h1><br>

        <p>{{space.description}}</p>

        <p>{{space.price_per_night}}</p>
        <form action="">
            <label for="start_date">Start Date</label>
            <input type="date" min="{{space.start_date}}" max="{{space.end_date}}" id="start_date"><br>

            <label for="end_date">End Date</label>
            <input type="date" min="{{space.start_date}}" max="{{space.end_date}}" id="end_date"><br>

            <input type="submit" value="Request to Book">
        </form>
    </body>
</html>