<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Title</title>
    <link rel="stylesheet" href="/makersbnb-python-seed/static/stylesheet.css">
</head>

<body>
    <header>
        <div class="page-title">
            <h1>Maker'sBNB</h1>
        </div>
    </header>
    
    <nav class ="navbar">
        <div class="flex-nav"></div>
        <div class="properties-listed">Property Listings</div>
        <div class="my-listings">My Listings</div>
        <div class="my-profile">My Profile</div>
        <div class="my-requests">My Requests</div>
    </nav>

    <main>
        <div class="example-container">
            <div class="property">
                <h2>Beach House</h2>
                <p>Description: A beautiful beach side property with a pool</p>
                <p>Price per night: £85.00</p>
                <p><a href="">See more...</a></p>
            </div>
            <hr>
            <div class="property">
                <h2>Glamping Pod</h2>
                <p>Description: A glamping pod with all cooking facilities.</p>
                <p>Price per night: £55.00</p>
                <p><a href="">See more...</a></p>
            </div>
            <hr>
            <div class="property">
                <h2>Property Name</h2>
                <p>Description: A beautiful beach side property with a pool</p>
                <p>Price per night: £85.00</p>
                <p><a href="">See more...</a></p>
            </div>
            <hr>
            <div class="property">
                <h2>Property Name</h2>
                <p>Description: A beautiful beach side property with a pool</p>
                <p>Price per night: £85.00</p>
                <p><a href="">See more...</a></p>
            </div>
            <hr>
            <div class="property">
                <h2>Property Name</h2>
                <p>Description: A beautiful beach side property with a pool</p>
                <p>Price per night: £85.00</p>
                <p><a href="">See more...</a></p>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer"></div>>
    </footer>
</body>
</html>
