    {% extends 'base.html' %}

<body>
    
    {% block header %} {{ super() }} {% endblock %}

    {%block content%}
    <main>
        <div class="example-container">
            <div class="property">
                <h2>Beach House</h2>
                <p>Description: A beautiful beach side property with a pool</p>
                <p>Price per night: £85.00</p>
                <p><a href="">See more...</a></p>
            </div>
            <hr>
            <div class="property">
                <h2>Glamping Pod</h2>
                <p>Description: A glamping pod with all cooking facilities.</p>
                <p>Price per night: £55.00</p>
                <p><a href="">See more...</a></p>
            </div>
            <hr>
            <div class="property">
                <h2>Property Name</h2>
                <p>Description: A beautiful beach side property with a pool</p>
                <p>Price per night: £85.00</p>
                <p><a href="">See more...</a></p>
            </div>
            <hr>
            <div class="property">
                <h2>Property Name</h2>
                <p>Description: A beautiful beach side property with a pool</p>
                <p>Price per night: £85.00</p>
                <p><a href="">See more...</a></p>
            </div>
            <hr>
            <div class="property">
                <h2>Property Name</h2>
                <p>Description: A beautiful beach side property with a pool</p>
                <p>Price per night: £85.00</p>
                <p><a href="">See more...</a></p>
            </div>
        </div>
    </main>
    {% endblock %}

    {% block footer %} {{ super() }} {% endblock %}

</body>
</html>
