<!DOCTYPE html>
<html>
    <head>
        <title>Book</title>

        <!--
            Head to https://github.com/makersacademy/web-applications-in-python/blob/main/pills/loading_css_or_static_files.md
            If you're wondering how the CSS file below is being loaded.
        -->
        <link rel="stylesheet" href="/static/style.css" >
    </head>
        <body>
                
                <form>
                    <div class="welcome_page" align = center >
                        <h1> WELCOME *USER*! </h1>
                        <h4> 4 hotels found </h4>
                        <table>
                            <tr>
                                <td><img class="booking_image" src="https://shorturl.at/xCMX2" alt="Italian Trulli"></th>
                                <th class = "room_description">Room 1
                                    <h6> 4 bedroom house , 2 bathrooms</h6>
                                </th>
                                <th class ="room_price">Price : £</th> 
                            </tr>                   
                        </table>
                        <table>
                            <tr>
                                <td><img class="booking_image" src="https://shorturl.at/xCMX2" alt="Italian Trulli"></th>
                                <th class = "room_description">Room 1
                                    <h6> 4 bedroom house , 2 bathrooms</h6>
                                </th>
                                <th class ="room_price">Price : £</th> 
                            </tr>                   
                        </table>
                        <table>
                            <tr>
                                <td><img class="booking_image" src="https://shorturl.at/xCMX2" alt="Italian Trulli"></th>
                                <th class = "room_description">Room 1
                                    <h6> 4 bedroom house , 2 bathrooms</h6>
                                </th>
                                <th class ="room_price">Price : £</th> 
                            </tr>                   
                        </table>
                        <table>
                            <tr>
                                <td><img class="booking_image" src="https://shorturl.at/xCMX2" alt="Italian Trulli"></th>
                                <th class = "room_description">Room 1
                                    <h6> 4 bedroom house , 2 bathrooms</h6>
                                </th>
                                <th class ="room_price">Price : £</th> 
                            </tr>                   
                        </table>

        

                    </div>
                </form>
                
            
        </body>
</html>
