{% extends "components/base.html" %}
{%block title%}
Create User
{%endblock title %}

{%block content%}
<div class="form-container" style="height: 80vh;">
    <div class="card mx-auto" style="width: 35rem;">
        <div class="card-body">
        <h5 class="card-title">Create New User</h5>
        <form action="">
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control "type="email" name="email" id="username">
            </div>
            <div class="mb-3">
                <label class="form-label" for="password1">Password</label>
                <input class="form-control" type="password" name="password1" id="password1">
            </div>
            <div class="mb-3">
                <label class="form-label" for="password2">Confirm Password</label>
                <input class="form-control" type="password" name="password2" id="password2">
            </div>
            <input class="btn btn-primary login-btn" type="submit" value="Create New User">
        </form>
    </div>
</div>

{%endblock content %}
