<!DOCTYPE html>
<html>
    <head>
        <title>List a Place</title>
        <link rel="stylesheet" href="/static/style.css" >
    </head>
    <body>
        <h1>List a new Place</h1>
        <form method="POST" action="/places">
            <label>Name</label><br><input title="name"><br>
            <br>
            <label>Description</label><br><textarea title="description"></textarea><br>
            <br>
            <label>Price per night</label><br><input title="price"><br>
        </form>
    </body>
</html>
